@(id: Long, form: Form[Service])

@main(title = "Edit Service") {
    @validations(form)

    <h1>Edit Service</h1>

    @helper.form(action = routes.ServiceController.update(id)) {
        <div class="form-group">
            @helper.inputText(form("name"), '_showConstraints -> false, '_label -> "Name", 'placeholder -> "Name", 'class -> "form-control")
        </div>
        <div class="form-group">
            @helper.inputText(form("description"), '_showConstraints -> false, '_label -> "Description", 'placeholder -> "Description", 'class -> "form-control")
        </div>
        <div class="form-group">
            @helper.inputText(form("url"), '_showConstraints -> false, '_label -> "URL", 'placeholder -> "URL", 'class -> "form-control")
        </div>
        <div class ="form-group">
            @helper.inputText(form("attributes"), '_showConstraints -> false, '_label -> "Attributes", 'placeholder -> "Attributes", 'class -> "form-control")
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    }

}

