@(services: List[Service])

@main(title = "Services") {
    <h1>Services <a class="btn btn-success" href="@routes.ServiceController.create" role="button">Add New</a></h1>

    <table class="table table-striped">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Owner</td>
            <td>Actions</td>
        </tr>
        @for(service <- services){
        <tr>
            <td>@service.id</td>
            <td><a href="@routes.ServiceController.view(service.id)">@service.name</a></td>
            <td>@service.description</td>
            <td>@service.user.email</td>
            <td>@helper.form(routes.ServiceController.delete(service.id)) {<a href="@routes.ServiceController.show(service.id)" class="btn btn-default">Edit</a> <button type="submit" class="btn btn-danger">Delete</button>}</td>
        </tr>
        }
    </table>
}