@(id: Long, service: Service)

@main(title = "Service"){
<div class="container">
    <h2>Service Details</h2>
    <p>All you need to know about the service</p>
    <table class="table">
        <thead>
        <tr>
            <th>Properties</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Name</td>
            <td>@service.name</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>@service.description</td>
        </tr>
        <tr>
            <td>URL</td>
            <td>@service.url</td>
        </tr>
        <tr>
            <td>Owner</td>
            <td>@service.user.email</td>
        </tr>
        <tr>
            <td>License</td>
            <td>@service.license</td>
        </tr>
        <tr>
            <td>Version</td>
            <td>@service.version</td>
        </tr>
        <tr>
            <td>Credits</td>
            <td>@service.credits</td>
        </tr>
        <tr>
            <td>Attributes</td>
            <td>@service.attributes</td>
        </tr>
        <tr>
            <td>Tags</td>
            <td>@service.tags</td>
        </tr>
        <tr>
            <td>Views</td>
            <td>@service.views</td>
        </tr>

        </tbody>
    </table>
</div>
}