@(workflows: List[Workflow])

@main(title = "Workflows") {
    <h1>Workflows <a class="btn btn-success" href="@routes.WorkflowController.create" role="button">Add New</a></h1>

    <table class="table table-striped">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Owner</td>
            <td>Actions</td>
        </tr>
        @for(workflow <- workflows){
        <tr>
            <td>@workflow.id</td>
            <td>@workflow.name</td>
            <td>@workflow.description</td>
            <td>@workflow.user.email</td>
            <td>@helper.form(routes.WorkflowController.delete(workflow.id)) {<a href="@routes.WorkflowController.show(workflow.id)" class="btn btn-default">Edit</a> <button type="submit" class="btn btn-danger">Delete</button>}</td>
        </tr>
        }
    </table>
}