@(workflows: List[Workflow])

@main(title = "Workflows") {
    <h1>Workflows</h1> <a class="btn btn-default" href="#" role="button">Add New</a>

    <table class="table table-striped">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Owner</td>
        </tr>
        @for(workflow <- workflows){
        <tr>
            <td>@workflow.id</td>
            <td>@workflow.name</td>
            <td>@workflow.description</td>
            <td>@workflow.owner.email</td>
        </tr>
        }
    </table>
}