@(workflows: List[Workflow])

@main(title = "Workflows") {
    <h1>Workflows <a class="btn btn-success" href="@routes.WorkflowWebController.create" role="button">Add New</a></h1>

    <table class="table table-striped">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Owner</td>
            <td>Actions</td>
        </tr>
        @for(workflow <- workflows){
        <tr>
            <td>@workflow.id</td>
            <td><a href="@routes.WorkflowWebController.view(workflow.id)">@workflow.name</a></td>
            <td>@workflow.description</td>
            <td>@workflow.user.email</td>
            <td>@helper.form(routes.WorkflowWebController.delete(workflow.id)) {<a href="@routes.WorkflowWebController.execute(workflow.id)" class="btn btn-default">Execute</a> <a href="@routes.WorkflowWebController.show(workflow.id)" class="btn btn-default">Edit</a> <button type="submit" class="btn btn-danger">Delete</button>}</td>
        </tr>
        }
    </table>
}