<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="padding-bottom: 0;" href="/"><img
                    src='/assets/images/logo.png' style="height: 28px;"></a>
        </div>
        <div class="navbar-collapse collapse" style="height:">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@routes.Application.index">Home</a></li>

                @if(request.username != null) {
                <li>
                    <a href="@routes.WorkflowController.index">Workflows</a>
                </li>
                <li>
                    <a href="@routes.ServiceController.index">Services</a>
                </li>
                <li>
                    <a href="@routes.UserController.index">Users</a>
                </li>
                }

                <li><a href="#">About</a></li>

                @if(request.username != null) {
                <form class="navbar-form navbar-right" action="@routes.UserController.signOut">
                    <button type="submit" class="btn btn-success">Sign Out</button>
                </form>
                } else {
                <form class="navbar-form navbar-right" action="@routes.UserController.signIn">
                    <button type="submit" class="btn btn-success">Sign In</button>
                </form>
                }
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>