<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a href="@routes.Application.index">
            OpenNEX
        </a>
    </li>
    @if(request.username != null) {
    <li>
        <a href="@routes.Workflows.index">Workflows</a>
    </li>
    }
    <li>
        <a href="#">About</a>
    </li>
</ul>

<ul class="sidebar-nav bottom">
    <li>@request.username</li>
    @if(request.username != null) {
    <li><a href="@routes.Users.logout">Log Out</a></li>
    } else {
    <li><a href="@routes.Users.login">Log In</a></li>
    }
</ul>